.Container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: 1;

  background-color: #37474f;
}

.Modal {
  width: 100%;
  height: 100%;

  display: flex;

  flex-direction: column;

  z-index: 2;
}

@media (min-width: 768px) {
  .Modal {
    max-height: 234px;
    max-width: 540px;
  }
}

.Header {
  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 24px;

  background-color: #ffffff;
  box-shadow: 0 5px 20px 0 rgba(41, 48, 51, 0.1);
}

.Footer {
  padding: 24px;

  background-color: #ffffff;
  box-shadow: 0 5px 20px 0 rgba(41, 48, 51, 0.1);
}
