.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.modal__header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 20px 20px;
  box-shadow: 0 5px 20px 0 rgba(41, 48, 51, 0.1);
}

.modal__header__content {
  flex-grow: 1;
}

.modal__header__close {
}

.modal__content {
  padding: 30px 20px;
  flex-grow: 1;

  height: 200px;
  overflow: scroll;
}

.modal__footer {
}
